@charset "UTF-8";
/* ЗАГАЛЬНІ ПРАВИЛА */
/* html {
  box-sizing: border-box;
} */
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */
a {
  text-decoration: none;
  color: #212121;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
}

button {
  display: block;
  font-family: roboto, sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
  margin: 0;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 0px solid tomato;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.current {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .current::after {
    position: absolute;
    bottom: 0%;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.header {
  display: block;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.header.container {
  position: relative;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
  }
}

.nav-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .nav-wrap {
    position: inherit;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-left: 88px;
    padding: 0;
    z-index: 0;
    transform: translateX(0);
  }
}

.nav-wrap.is-open {
  transform: translateX(0);
}

.nav {
  margin-bottom: auto;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    gap: 50px;
  }
}

.nav__item {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .nav__item {
    margin: 0;
  }
}

.nav__link {
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .nav__link {
    display: inline-block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
  }
}
@media screen and (max-width: 767px) {
  .nav__link {
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    text-align: left;
    letter-spacing: 0.02em;
    color: #212121;
  }
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.current {
  color: #2196f3;
}

.nav__button.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .nav__button.js-close-menu {
    display: none;
  }
}

.button__icon {
  position: absolute;
  top: 0;
  left: 0;
}

.button__menu,
.icon__menu {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .button__menu,
.icon__menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact-wrap {
    display: flex;
    align-items: center;
  }
}

.contact {
  display: flex;
  margin-bottom: 64px;
  flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .contact {
    display: block;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .contact__item:last-child {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.contact__link {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link.mail {
  font-size: 24px;
  line-height: 1.1666666667;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .contact__link.mail {
    font-size: 12px;
    line-height: 1.1666666667;
    color: #757575;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link.mail {
    font-size: 14px;
    line-height: 1.1428571429;
    color: #757575;
  }
}
.contact__link.tel {
  font-size: 34px;
  line-height: 1.1764705882;
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .contact__link.tel {
    font-size: 12px;
    line-height: 1.1666666667;
    color: #757575;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link.tel {
    font-size: 14px;
    line-height: 1.1428571429;
    color: #757575;
  }
}
.contact__link:hover, .contact__link:focus, .contact__link:hover .contact__icon, .contact__link:focus .contact__icon {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .contact__link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.contact__icon {
  display: none;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .contact__icon {
    display: block;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__icon {
    display: block;
    margin-right: 10px;
  }
}

.menu-social__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .menu-social__list {
    display: none;
  }
}

.menu-social__item {
  margin-top: auto;
  padding-right: 10px;
}

.menu-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.js-close-menu {
  background-color: transparent;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo--studio {
  color: #000000;
}

.header__logo {
  display: inline-block;
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .header__logo {
    display: inline-block;
    padding: 26px 0;
  }
}

.hero {
  max-width: 480px;
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mobile_hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2f303a;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mobile_hero@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet_hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet_hero@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desktop_hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desktop_hero@2x.jpg);
  }
}

.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.hero__btn {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

.features__list {
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.products {
  display: none;
}
@media screen and (min-width: 1200px) {
  .products {
    display: block;
  }
}
.products.section {
  padding-top: 0;
}

.products__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.products__list {
  display: flex;
  gap: 30px;
}

.products__item {
  position: relative;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 370px;
  height: 70px;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team__img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__img {
    width: 270px;
  }
}

.info {
  padding-top: 30px;
  padding-bottom: 24px;
}

.info__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.info__text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.socials__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: #ffffff;
}

.socials__icon {
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 480px) {
  .customers__list {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .customers__list {
    justify-content: center;
  }
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition-property: fill border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
  outline: none;
}
@media screen and (min-width: 768px) {
  .customers__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__link {
    width: 170px;
  }
}

.footer {
  background: #2f303a;
}
@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .tablet-wrap {
    display: flex;
    justify-content: center;
    gap: 165px;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .tablet-wrap {
    display: flex;
    gap: 90px;
    align-items: baseline;
  }
}

.address-wrap {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .address-wrap {
    text-align: left;
  }
}

.address {
  font-style: normal;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer__logo--studio {
  color: #ffffff;
}

.address__list {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .address__list {
    margin-bottom: 0;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.map-link {
  color: #ffffff;
}

.footer-socials__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer-socials__title {
    text-align: left;
  }
}

.footer-socials__list {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-socials__list {
    margin-bottom: 0;
  }
}

.footer-socials__link {
  background: rgba(255, 255, 255, 0.1);
}

.footer-socials__icon {
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .container__footer-form {
    width: 570px;
    height: 86px;
    margin-left: 93px;
  }
}

.footer-form__call {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer-form__call {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
  }
}

.footer-form__input {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .footer-form__input {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-form__btn {
  position: relative;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 31px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

.footer-form__icon {
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translateX(-28px) translateY(13px);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 95%;
  width: 95%;
  max-height: 609px;
  max-width: 450px;
  overflow: scroll;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.modal__btn {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-8px, 8px);
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.btn__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.modal__call {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  /* or 150% */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  margin-bottom: 10px;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}

.container-input {
  position: relative;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus + .form__icon, .form__input:hover + .form__icon {
  fill: #2196f3;
}
.form__input:focus, .form__input:hover {
  border: 1px solid #2196f3;
  outline: none;
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field--textarea {
  margin-bottom: 20px;
}

.textarea {
  max-height: 120px;
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox__icon {
  left: 0;
  top: 0;
  width: 16px;
  height: 15px;
  background-image: url(../images/checked.svg);
}
@media screen and (min-width: 1200px) {
  .checkbox:checked + .checkbox__icon {
    top: 4px;
  }
}
.checkbox:focus + .checkbox__icon, .checkbox:hover + .checkbox__icon {
  background-origin: border-box;
  border: 2px solid #2196f3;
  border-radius: 2px;
}
@media screen and (min-width: 1200px) {
  .checkbox {
    left: 12px;
    top: 0;
  }
}

.form-field.checkbox {
  position: relative;
  margin-bottom: 30px;
}

.checkbox__label {
  display: flex;
  justify-content: start;
  margin-left: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.checkbox__icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 15px;
  background-image: url(../images/check.svg);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .checkbox__icon {
    top: 4px;
  }
}

.checkbox__contract {
  color: #2196f3;
  text-decoration: underline;
  margin-left: 5px;
}

.form__btn {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: background box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__btn:hover, .form__btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter__list {
    justify-content: center;
  }
}

.filter__btn {
  height: 38px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  transition-property: background-color color box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.works__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .works__link {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .works__link {
    max-width: 370px;
  }
}

.works__link:hover,
.works__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works__overlay-text {
  display: none;
}

.desctiption-container {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.desctiption__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.desctiption__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}/*# sourceMappingURL=main.css.map */