.desctiption__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0 0 4px 0;

  color: $title-color;
}

.works__list {
  display: flex;
  flex-wrap: wrap;
}
.works__item {
  display: block;

  &:not(:nth-child(3n + 3)) {
    margin-right: 30px;
  }
  &:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.works__wrap {
  position: relative;
  overflow: hidden;
}

.works__overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  opacity: 0;

  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  padding-left: 24px;
  padding-right: 24px;

  color: $white-color;

  background-color: $overlay-background-portfolio-color;

  transition-property: top, opacity;
  transition-duration: 250ms;
  transition-timing-function: $cubic;
}

.works__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: $cubic;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .works__overlay-text,
  &:focus .works__overlay-text {
    opacity: 1;
    top: 0;
  }
}
.desctiption-container {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  justify-content: space-between;
}

.desctiption__text {
  font-size: 16px;
  line-height: 1.88;
  margin: 0;

  color: $text-color;
}
