.customers {
}

.customers__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: $title-color;
}
.customers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (max-width: 480px) {
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}
.customers__item {
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: $customers-icon-color;

  transition-property: fill border;
  transition-duration: 250ms;
  transition-timing-function: $cubic;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    fill: $accent-color;
    outline: none;
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
