.footer {
  background: $footer-background-color;

  @media screen and (min-width: 1200px) {
    display: flex;

    align-items: baseline;
  }
}

.tablet-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    gap: 165px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 90px;
    align-items: baseline;
  }
}
.address-wrap {
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.address {
  font-style: normal;
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.footer__logo--studio {
  color: $logo-white-color;
}
.address__list {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.address__item:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}
.address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $cubic;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.map-link {
  color: $white-color;
}
.footer-socials {
}
.footer-socials__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $white-color;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.socials__list {
}
.footer-socials__list {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.socials__item {
}
.footer-socials__item {
}
.socials__link {
}
.footer-socials__link {
  background: rgba(255, 255, 255, 0.1);
}

.footer-socials__icon {
  fill: $white-color;
}
.container__footer-form {
  @media screen and (min-width: 1200px) {
    width: 570px;
    height: 86px;
    margin-left: 93px;
  }
}
.footer-form__call {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $white-color;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer-form {
  @media screen and (min-width: 1200px) {
    display: flex;

    // flex-wrap: wrap;
  }
}
.footer-form__input {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;

  background-color: $footer-background-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }
}
.footer-form__btn {
  position: relative;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 31px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  letter-spacing: 0.06em;

  color: $white-color;
  background-color: $accent-color;
}
.footer-form__icon {
  position: absolute;
  top: 0%;
  right: 0%;

  transform: translateX(-28px) translateY(13px);
}
