.hero {
  // display: none;
  max-width: 1600px;
  height: 400px;
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/mobile_hero.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-color: $footer-background-color;

  @include retina-2 {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/mobile_hero@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/tablet_hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include retina-2 {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/tablet_hero@2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    height: 600px;
    padding: 200px 0;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/desktop_hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include retina-2 {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/desktop_hero@2x.jpg);
    }
  }
}
.container {
}
.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $hero-title-color;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $white-color;
  }
}

.hero__btn {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: $hero-btn-color;

  background-color: $accent-color;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: $cubic;
  &:hover,
  &:focus {
    background-color: $hover-hero-btn-color;
  }
}
